.cart-222 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  margin-top: 30px;
}

.cart-222 h2 {
  font-size: 40px;
  /* margin-bottom: 20px; */
}

.cart-container {
  max-width: 700px;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 800px;

  border: 1px solid #cccccc5a;
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.remove {
  border: none;
  background-color: red;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.cart-item img {
  width: 250px;
  height: 150px;
  object-fit: contain;
  border-radius: 10px;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.minus {
  border: none;
  background-color: transparent;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
  border: gray solid 1px;
}

.plus {
  border: none;
  background-color: transparent;
  font-size: 20px;
  border: gray solid 1px;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
}

.dflex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}

.cart-summary {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.cart-summary h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.cart-summary p {
  font-size: 16px;
  margin-bottom: 10px;
}

.cart-summary button {
  border: none;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
