body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: auto;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background: #333;
  padding: 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
}

input {
  padding: 10px;
  border: none;
  font-size: 16px;
}

.product-list {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 20px;
}

.product-card {
  width: 300px;
  height: 350px;
  background: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

.product-card img {
  max-width: 200px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.add-to-cart {
  width: 150px;
  background: green;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
}

.like {
  width: 80px;
  background-color: rebeccapurple;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
}

.pro-l {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

button {
  background-color: blue;
  color: white;
  border-radius: 10px;
  padding: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
